/*
   New Perspectives on HTML and CSS
   Tutorial 5
   Case Problem 2

   CCC Calendar Table style sheet
  Author: Yong Cao
      Date:   2023-04-11

   Filename:         calendar.css
   Supporting Files: bottom.jpg, bottomleft.jpg, bottomright.jpg,
                     left.jpg, right.jpg, top.jpg,
                     tab.jpg, topleft.jpg, topright.jpg, redtab.jpg

*/
.calendar {
   border-collapse: separate;
   border-spacing: 5px;
   font-size: 8px;
   margin-top: 20px;
   margin-bottom:  5px;
   margin-left: auto;
   margin-right: auto;
   padding: 40px;
   width: 650px;
   background-image: url(topleft.jpg), url(topright.jpg), 
   url(bottomleft.jpg), url(bottomright.jpg), 
   url(top.jpg), url(left.jpg), url(right.jpg), 
   url(bottom.jpg);
  background-position: top left, top right, 
  bottom left, bottom right, top left, 
  top left, top right, bottom left;
  background-repeat: no-repeat, no-repeat, 
  no-repeat, no-repeat, repeat-x, repeat-y, 
  repeat-y, repeat-x;
 }
 .calendar caption{
   caption-side: top;
   align-content: center;
   padding-bottom: 10px;
   font-size: 16px;
   letter-spacing: 3px;
   width: 650px;
   
 }

 
 .calendar th,
 .calendar td {
   width: 14%;
 }
 
 .weekends {
   background-color: rgb(255, 232, 232);
 }
 .calendar thead th {
   background-color: red;
   color: white;
   letter-spacing: 5px;
   height: 5%;
 }
  
 .calendar tbody td {
   height: 19%;
 }
 .calendar td {
   border: 1px solid gray;
   vertical-align: top;
 }
 .calendar td h3 {
   font-size: 8px;
 }

 #summary div{
   column-count: 2;
   column-width: 300px;
   column-gap: 20px;
   column-rule-style: solid;
   column-rule-width: 1px;
   column-rule-color: black;

 }
 

 


 
 

